<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Order Food</title>
    <style>
        .companyName { display: flex; justify-content: center; }
        .topBar { overflow: hidden; background-color: rgb(0, 66, 130); }
        .topBar a { float: left; display: block; color:white; padding: 6px; text-decoration: none; }
        .topBar a.active { background-color: rgb(239, 124, 0); color:white; }
        .topBar form { float: right; margin-top: 4px; margin-right: 2px; }
    </style>
</head>
<body>
    <h1 class="companyName">Heng Mui Keng Terrace Restaurant</h1>
    <div class="topBar">
        <a href="/">Home</a>
        <a href="/order" class="active">Order Food</a>
        <a href="/viewAllOrder">View All Order</a>
        <form class="searchBox">
            <input type="text" name="queryPattern" placeholder="Search order number">
            <input type="submit" value="Search" />
        </form>
    </div>
    <form
        action="/order/{orderID}"
        th:object="${FoodOrder}"
        method="post"
    >
    <h3>Food order</h3>
    <p th:if="${showMessage != null}">
        <h5>Your order has been created</h5>
    </p>
    <p>
        <label>Ala Carte: </label>
        <label th:text="${FoodOrder.alaCarte}" />
    </p>
    <p>
        <label>Beverage: </label>
        <label th:text="${FoodOrder.beverage}" />
    </p>
    <p>
        <label>Combo Set: </label>
        <label th:text="${FoodOrder.comboSet}" />
    </p>
    </form>
    <form action:"/index">
        <input type="submit" value="Main Page" />
    </form>
</body>

</html>